<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
        >

    <context:annotation-config/>

    <bean id="placeholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="false"/>
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        <property name="ignoreResourceNotFound" value="false"/>
        <property name="locations">
            <list>
                <value>classpath*:/application.properties</value>
            </list>
        </property>
    </bean>

    <tx:annotation-driven transaction-manager="txManager"/>

    <bean id="ideasDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="ideasEntityManager" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="dataSource" ref="ideasDataSource"/>
        <property name="persistenceUnitName" value="idea"/>
        <property name="jpaDialect">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>
        </property>

        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="database" value="${database}"/>
                <property name="showSql" value="false"/>
                <property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect" />
            </bean>
        </property>
    </bean>

    <bean id="txManager"
          class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="ideasEntityManager"/>
        <property name="dataSource" ref="ideasDataSource"/>
        <qualifier value="ideas" />
    </bean>

    <!-- bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor">
        <property name="persistenceUnits">
            <map>
                <entry key="idea" value="persistence/idea"/>
            </map>
        </property>
    </bean -->

    <context:component-scan base-package="com.ideas">
    </context:component-scan>

    <!--<bean id="ideasDAO" class="com.ideas.persistence.IdeaDAO">-->
    <!--<property name="entityManager" ref="ideaEntityManager" />-->
    <!--</bean>-->

    <!--<bean id="ideaDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
    <!--<property name="driverClassName" value="com.mysql.jdbc.Driver"/>-->
    <!--<property name="url" value="jdbc:mysql://localhost:3306/ideas"/>-->
    <!--<property name="username" value="root"/>-->
    <!--<property name="password" value=""/>-->
    <!--</bean>-->

    <!--<bean id="ideaTxManager"-->
    <!--class="org.springframework.orm.jpa.JpaTransactionManager">-->
    <!--<property name="entityManagerFactory" ref="ideaEntityManager"/>-->
    <!--<property name="dataSource" ref="ideaDataSource"/>-->
    <!--<qualifier value="idea"/>-->
    <!--</bean>-->

    <!--<bean id="entityManagerFactory"-->
    <!--class="org.springframework.orm.jpa.LocalEntityManagerFactoryBean" />-->

    <!--<bean class="org.springframework.orm.jpa.JpaTransactionManager">-->
    <!--<property name="entityManagerFactory" ref="entityManagerFactory" />-->
    <!--</bean>-->

    <!--<tx:annotation-driven transaction-manager="ideaTxManager"/>-->


    <!--<bean id="ideaEntityManager" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">-->
    <!--<property name="dataSource" ref="ideaDataSource"/>-->
    <!--<property name="persistenceUnitName" value="idea"/>-->
    <!--<property name="jpaDialect">-->
    <!--<bean class="org.springframework.orm.jpa.vendor.HibernateJpaDialect"/>-->
    <!--</property>-->

    <!--<property name="jpaVendorAdapter">-->
    <!--<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">-->
    <!--<property name="database" value="MYSQL"/>-->
    <!--<property name="showSql" value="false"/>-->
    <!--<property name="databasePlatform" value="org.hibernate.dialect.MySQL5Dialect"/>-->
    <!--</bean>-->
    <!--</property>-->

    <!--</bean>-->

    <!--<bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">-->
    <!--<property name="transactionManager">-->
    <!--<ref bean="ideaTxManager"/>-->
    <!--</property>-->
    <!--<property name="userTransaction">-->
    <!--<ref bean="jbossUserTransaction"/>-->
    <!--</property>-->
    <!--</bean>-->

    <!--<bean class="org.springframework.orm.jpa.JpaTransactionManager">-->
    <!--<property name="entityManagerFactory" ref="entityManagerFactory"/>-->
    <!--</bean>-->

    <!--<context:annotation-config/>-->
    <!--<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>-->
    <!--<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />-->
    <!--<context:component-scan base-package="com.ideas"/>-->
</beans>
